extends layout

block content
  h1= title

  include include/searchform

  - if (result.path === '/')
    div
      i.fa.fa-lg.fa-folder-open-o
      span Dropbox
  - else
    - var folders = result.path.split('/');
    - var current = folders.pop();
    - each folder in folders
      div
        i.fa.fa-lg.fa-folder-open-o
        - if (folder === '')
          a(href='/metadata') Dropbox
        - else
          a(href='/metadata/#{folder}') #{folder}
    - if (result.is_dir)
      div
        i.fa.fa-lg.fa-folder-open-o
        span #{current}

  - if (result.is_dir)
    - each content in result.contents
      div
        - if (content.is_dir)
          i.fa.fa-lg.fa-folder-o
        - else
          i.fa.fa-lg.fa-file-o
        a(href='/metadata/#{content.path.replace(/^\//, "")}') #{content.path.split('/').pop()}
  - else
    div
      i.fa.fa-quote-left
      span #{result.path.split('/').pop()}
      i.fa.fa-quote-right
    div
      i.fa.fa-lg.fa-download
      a(href='/download/#{result.path.replace(/^\//, "")}') download

  include include/logout
